<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-right">
            <!--<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>-->
            <li><a href="@Url.Action("Index", "Home")">Main page</a></li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->
<!-- MAIN HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- LOGO -->
            <div class="col-md-3">
                <div class="header-logo">
                    <a href="@Url.Action("Index","Home")" class="logo">
                        <img src="/Content/Images/logot.png" alt="">
                    </a>
                </div>
            </div>
            <!-- /LOGO -->
        </div>
    </div>
</div>
<!-- /MAIN HEADER -->