@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewBag.Title = "ForgotPassword2";
}

@using System.Web.Optimization
@model eUseControl.Web.Models.Authorization.LoginData

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-7">
                <div class="Rest-details">
                    <div class="section-title">
                        <h3 class="title">Restoration password</h3>
                    </div>
                    <div class="form-group">
                        <input class="input" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="input" type="password" name="passwordconfirm" placeholder="Confirm password">
                    </div>
                    <div class="col-md-5">
                        <a href="#" class="primary-btn">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
